body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
  margin-right: 10%;
}

.input-container {
  display: flex;
  justify-content: center;
}

.input-container>span {
  margin-left: 4px;
  margin-bottom: 2px;
  text-align: end;
}

.input-header>span {
  text-align: center;
}

.input-header>:first-child {
  text-align: end;
}

.input-text {
  width: 200px;
}

.input-full, .input-slider {
  width: 80px;
}

.input-perc {
  width: 40px;
}

.damage-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.damage-container {
  display: flex;
  justify-content: space-evenly;
}

.damage-top {
  font-size: x-large;
}

.damage-mid {
  font-size: larger;
}

.damage-text {
  width: 60px;
}

.damage-positive {
  color: darkgreen;
}

.damage-negative {
  color: crimson;
}

.config-block {
  position: absolute;
  top: 50px;
  left: 5%;
  border: 1px solid gray;
  border-radius: 4px;
  /* width: 500px; */
  background-color: white;
  /* padding: 10px; */
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
}

.buff-block {
  position: absolute;
  top: 50px;
  left: 5%;
  border: 1px solid gray;
  border-radius: 4px;
  width: 90%;
  background-color: white;
  /* padding: 10px; */
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
}

.buff-tier {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 300px) );
}

.buff-individual {
  margin: 3px;
}

.buff-separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.buff-separator::before,
.buff-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid gray;
}

.buff-separator:not(:empty)::before {
  margin-right: .25em;
}

.buff-separator:not(:empty)::after {
  margin-left: .25em;
}

#tooltip {
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  pointer-events: none;

  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 2px;

  white-space: pre;
}